
body {
  background-color: slategray;
}

canvas {
  display: block;
  margin: auto;
  padding: 20px;
  width: 800px;
  height: 800px;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#artContainer {
  display: flex;
}

button {
  margin: 20px;
}

.pixelGridRow {
  height: 1px;
  min-width: 800px;
}

.pixel {
  width: 1px;
  height: 1px;
  display: inline-block;
}