
body {
  background-color: slategray;
  font-family: 'VT323', monospace;
}

canvas {
  display: block;
  margin: auto;
  padding: 20px;
  width: 800px;
  height: 800px;
}

#appHeader {
  font-size: 48px;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

#buttons Button {
  margin-left: 30px;
}

#artContainer {
  display: flex;
}

button {
  margin: 20px;
}

.pixelGridRow {
  height: 1px;
  min-width: 800px;
}

.pixel {
  width: 1px;
  height: 1px;
  display: inline-block;
}