
body {
  background-color: slategray;
}

canvas {
  display: block;
  margin: auto;
  padding: 20px;
  width: 800px;
  height: 800px;
}

#buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

#artContainer {
  display: flex;
}

button {
  margin: 20px;
}

.pixelGridRow {
  height: 1px;
  min-width: 800px;
}

.pixel {
  width: 1px;
  height: 1px;
  display: inline-block;
}